*.[oa]
*~
*/blib/
perl.core

/.prove
/Makefile.old
/*/Makefile.old
/*/*/Makefile.old
/Tk-*.tar.gz
MYMETA.yml
MYMETA.json

# /
/Makefile
/Tk.bs
/Tk.c
/blib
/pm_to_blib
/.gdbinit

# /Canvas/
/Canvas/Canvas.bs
/Canvas/Canvas.c
/Canvas/Makefile
/Canvas/pm_to_blib

# /Compound/
/Compound/Compound.bs
/Compound/Compound.c
/Compound/Makefile
/Compound/pm_to_blib

# /DragDrop/
/DragDrop/Makefile
/DragDrop/pm_to_blib

# /Entry/
/Entry/Entry.bs
/Entry/Entry.c
/Entry/Makefile
/Entry/pm_to_blib

# /Event/
/Event/Event.bs
/Event/Event.c
/Event/Makefile
/Event/pm_to_blib

# /HList/
/HList/HList.bs
/HList/HList.c
/HList/Makefile
/HList/pm_to_blib

# /IO/
/IO/IO.bs
/IO/IO.c
/IO/Makefile
/IO/pm_to_blib

# /InputO/
/InputO/InputO.bs
/InputO/InputO.c
/InputO/Makefile
/InputO/pm_to_blib

# /JPEG/
/JPEG/JPEG.bs
/JPEG/JPEG.c
/JPEG/Makefile
/JPEG/pm_to_blib

# /Listbox/
/Listbox/Listbox.bs
/Listbox/Listbox.c
/Listbox/Makefile
/Listbox/pm_to_blib

# /Menubutton/
/Menubutton/Makefile
/Menubutton/Menubutton.bs
/Menubutton/Menubutton.c
/Menubutton/pm_to_blib

# /Mwm/
/Mwm/Makefile
/Mwm/Mwm.bs
/Mwm/Mwm.c
/Mwm/pm_to_blib

# /NBFrame/
/NBFrame/Makefile
/NBFrame/NBFrame.bs
/NBFrame/NBFrame.c
/NBFrame/pm_to_blib

# /PNG/
/PNG/Makefile
/PNG/PNG.bs
/PNG/PNG.c
/PNG/pm_to_blib

# /Scale/
/Scale/Makefile
/Scale/Scale.bs
/Scale/Scale.c
/Scale/pm_to_blib

# /Scrollbar/
/Scrollbar/Makefile
/Scrollbar/Scrollbar.bs
/Scrollbar/Scrollbar.c
/Scrollbar/pm_to_blib

# /TList/
/TList/Makefile
/TList/TList.bs
/TList/TList.c
/TList/pm_to_blib

# /Text/
/Text/Makefile
/Text/Text.bs
/Text/Text.c
/Text/pm_to_blib

# /TextList/
/TextList/Makefile
/TextList/pm_to_blib

# /TixGrid/
/TixGrid/Makefile
/TixGrid/TixGrid.bs
/TixGrid/TixGrid.c
/TixGrid/pm_to_blib

# /TixPixmap/
/TixPixmap/Makefile
/TixPixmap/Pixmap.bs
/TixPixmap/Pixmap.c
/TixPixmap/pm_to_blib

# /Tixish/
/Tixish/Makefile
/Tixish/pm_to_blib

# /Tk/
/Tk/Config.pm

# /WinPhoto/
/WinPhoto/Makefile
/WinPhoto/WinPhoto.bs
/WinPhoto/WinPhoto.c
/WinPhoto/pm_to_blib

# /Xlib/
/Xlib/Makefile
/Xlib/Xlib.bs
/Xlib/Xlib.c
/Xlib/pm_to_blib

# /Xlib/X/
/Xlib/X/Makefile
/Xlib/X/X.bs
/Xlib/X/X.c
/Xlib/X/pm_to_blib

# /demos/
/demos/Makefile
/demos/pm_to_blib

# /pTk/
/pTk/ClientWin.c
/pTk/Makefile
/pTk/default.h
/pTk/exWinHandle.c
/pTk/img.h
/pTk/imgBMP.c
/pTk/imgInit.c
/pTk/imgInt.h
/pTk/imgObj.c
/pTk/imgUtil.c
/pTk/imgWindow.c
/pTk/imgXBM.c
/pTk/imgXPM.c
/pTk/ks_names.h
/pTk/libpTk.a
/pTk/moredefs.h
/pTk/pm_to_blib
/pTk/port.h
/pTk/stbDItem.c
/pTk/stbDiStyle.c
/pTk/tclAsync.c
/pTk/tclDecls.h
/pTk/tclEvent.c
/pTk/tclHash.c
/pTk/tclIntDecls.h
/pTk/tclIntPlatDecls.h
/pTk/tclMath.h
/pTk/tclNotify.c
/pTk/tclPlatDecls.h
/pTk/tclPreserve.c
/pTk/tclTimer.c
/pTk/tclUnixEvent.c
/pTk/tclUnixNotfy.c
/pTk/tclUnixTime.c
/pTk/tix.h
/pTk/tixBitmaps.h
/pTk/tixCompat.c
/pTk/tixDItem.c
/pTk/tixDef.h
/pTk/tixDiITxt.c
/pTk/tixDiImg.c
/pTk/tixDiStyle.c
/pTk/tixDiText.c
/pTk/tixDiWin.c
/pTk/tixError.c
/pTk/tixForm.c
/pTk/tixForm.h
/pTk/tixFormMisc.c
/pTk/tixGrData.c
/pTk/tixGrData.h
/pTk/tixGrFmt.c
/pTk/tixGrRC.c
/pTk/tixGrSel.c
/pTk/tixGrSort.c
/pTk/tixGrUtl.c
/pTk/tixGrid.c
/pTk/tixGrid.h
/pTk/tixHLCol.c
/pTk/tixHLHdr.c
/pTk/tixHLInd.c
/pTk/tixHList.c
/pTk/tixHList.h
/pTk/tixImgCmp.c
/pTk/tixImgXpm.c
/pTk/tixImgXpm.h
/pTk/tixInputO.c
/pTk/tixInt.h
/pTk/tixList.c
/pTk/tixMwm.c
/pTk/tixNBFrame.c
/pTk/tixPort.h
/pTk/tixScroll.c
/pTk/tixSmpLs.c
/pTk/tixTList.c
/pTk/tixTList.h
/pTk/tixUnixDraw.c
/pTk/tixUnixInt.h
/pTk/tixUnixPort.h
/pTk/tixUnixWm.c
/pTk/tixUnixXpm.c
/pTk/tixUtils.c
/pTk/tk.h
/pTk/tk3d.c
/pTk/tk3d.h
/pTk/tkAtom.c
/pTk/tkBind.c
/pTk/tkBitmap.c
/pTk/tkButton.c
/pTk/tkButton.h
/pTk/tkCanvArc.c
/pTk/tkCanvBmap.c
/pTk/tkCanvImg.c
/pTk/tkCanvLine.c
/pTk/tkCanvPoly.c
/pTk/tkCanvPs.c
/pTk/tkCanvText.c
/pTk/tkCanvUtil.c
/pTk/tkCanvWind.c
/pTk/tkCanvas.c
/pTk/tkCanvas.h
/pTk/tkClipboard.c
/pTk/tkCmds.c
/pTk/tkColor.c
/pTk/tkColor.h
/pTk/tkConfig.c
/pTk/tkConfig.h
/pTk/tkCursor.c
/pTk/tkDecls.h
/pTk/tkEntry.c
/pTk/tkError.c
/pTk/tkEvent.c
/pTk/tkFileFilter.c
/pTk/tkFileFilter.h
/pTk/tkFocus.c
/pTk/tkFont.c
/pTk/tkFont.h
/pTk/tkFrame.c
/pTk/tkGC.c
/pTk/tkGeometry.c
/pTk/tkGet.c
/pTk/tkGrab.c
/pTk/tkGrid.c
/pTk/tkImage.c
/pTk/tkImgBmap.c
/pTk/tkImgGIF.c
/pTk/tkImgPPM.c
/pTk/tkImgPhoto.c
/pTk/tkImgUtil.c
/pTk/tkInitScript.h
/pTk/tkInt.h
/pTk/tkIntDecls.h
/pTk/tkIntPlatDecls.h
/pTk/tkIntXlibDecls.h
/pTk/tkListbox.c
/pTk/tkMacWinMenu.c
/pTk/tkMenu.c
/pTk/tkMenu.h
/pTk/tkMenuDraw.c
/pTk/tkMenubutton.c
/pTk/tkMenubutton.h
/pTk/tkMessage.c
/pTk/tkObj.c
/pTk/tkOldConfig.c
/pTk/tkOption.c
/pTk/tkPack.c
/pTk/tkPanedWindow.c
/pTk/tkPlace.c
/pTk/tkPlatDecls.h
/pTk/tkPointer.c
/pTk/tkPort.h
/pTk/tkRectOval.c
/pTk/tkScale.c
/pTk/tkScale.h
/pTk/tkScrollbar.c
/pTk/tkScrollbar.h
/pTk/tkSelect.c
/pTk/tkSelect.h
/pTk/tkSquare.c
/pTk/tkStubImg.c
/pTk/tkStyle.c
/pTk/tkText.c
/pTk/tkText.h
/pTk/tkTextBTree.c
/pTk/tkTextDisp.c
/pTk/tkTextImage.c
/pTk/tkTextIndex.c
/pTk/tkTextMark.c
/pTk/tkTextTag.c
/pTk/tkTextWind.c
/pTk/tkTrig.c
/pTk/tkUndo.c
/pTk/tkUndo.h
/pTk/tkUnix.c
/pTk/tkUnix3d.c
/pTk/tkUnixButton.c
/pTk/tkUnixColor.c
/pTk/tkUnixConfig.c
/pTk/tkUnixCursor.c
/pTk/tkUnixDefault.h
/pTk/tkUnixDialog.c
/pTk/tkUnixDraw.c
/pTk/tkUnixEmbed.c
/pTk/tkUnixEvent.c
/pTk/tkUnixFocus.c
/pTk/tkUnixFont.c
/pTk/tkUnixInit.c
/pTk/tkUnixInt.h
/pTk/tkUnixKey.c
/pTk/tkUnixMenu.c
/pTk/tkUnixMenubu.c
/pTk/tkUnixPort.h
/pTk/tkUnixScale.c
/pTk/tkUnixScrlbr.c
/pTk/tkUnixSelect.c
/pTk/tkUnixSend.c
/pTk/tkUnixWm.c
/pTk/tkUnixXId.c
/pTk/tkUnixXft.c
/pTk/tkUtil.c
/pTk/tkVisual.c
/pTk/tkWindow.c
/pTk/xbytes.h

# /pod/
/pod/Makefile
/pod/pm_to_blib

# /JPEG/jpeg/
/JPEG/jpeg/Makefile
/JPEG/jpeg/Makefile.PL
/JPEG/jpeg/cjpeg
/JPEG/jpeg/config.log
/JPEG/jpeg/config.status
/JPEG/jpeg/djpeg
/JPEG/jpeg/jconfig.h
/JPEG/jpeg/jpegtran
/JPEG/jpeg/rdjpgcom
/JPEG/jpeg/testout.bmp
/JPEG/jpeg/testout.jpg
/JPEG/jpeg/testout.ppm
/JPEG/jpeg/testoutp.jpg
/JPEG/jpeg/testoutp.ppm
/JPEG/jpeg/testoutt.jpg
/JPEG/jpeg/wrjpgcom

# /PNG/libpng/
/PNG/libpng/Makefile
/PNG/libpng/Makefile.PL
/PNG/libpng/pngout.png
/PNG/libpng/pngtest
/PNG/libpng/libpng_la-*.lo
/PNG/libpng/libpng12_la-*.lo
/PNG/libpng/.deps/
/PNG/libpng/.libs/
/PNG/libpng/config.h
/PNG/libpng/config.log
/PNG/libpng/config.status
/PNG/libpng/libpng-config
/PNG/libpng/libpng.la
/PNG/libpng/libpng.pc
/PNG/libpng/libpng.sym
/PNG/libpng/libpng.vers
/PNG/libpng/libpng12-config
/PNG/libpng/libpng12.la
/PNG/libpng/libpng12.pc
/PNG/libpng/libtool
/PNG/libpng/stamp-h1

# /PNG/zlib/
/PNG/zlib/Makefile
/PNG/zlib/Makefile.PL
/PNG/zlib/example
/PNG/zlib/foo.gz
/PNG/zlib/minigzip
