/.prove
/Makefile.old
/*/Makefile.old
/*/*/Makefile.old
/PNG/libpng/libpng_la-*.lo
/PNG/libpng/libpng12_la-*.lo
/PNG/libpng/.deps/
/PNG/libpng/.libs/
/PNG/libpng/config.h
/PNG/libpng/config.log
/PNG/libpng/config.status
/PNG/libpng/libpng-config
/PNG/libpng/libpng.la
/PNG/libpng/libpng.pc
/PNG/libpng/libpng.sym
/PNG/libpng/libpng.vers
/PNG/libpng/libpng12-config
/PNG/libpng/libpng12.la
/PNG/libpng/libpng12.pc
/PNG/libpng/libtool
/PNG/libpng/stamp-h1
/Tk-*.tar.gz
MYMETA.yml
MYMETA.json
